*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 50px;
}

form{
    margin-top: 50px;
    background: #fff;
    width: 800px;
}

form input{
    left: 0;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 5px 5px;
    border-radius: 15px;
    border: 2px solid #A0A0A0;
}

form button{
    width: 75px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
}

#submitButton{
    background: teal;
    color: #fff;
}

#removeButton{
    background: #fff;
    color: red;
    font-weight: bold;
    float: right;
}

.container{
    margin-top: 50px;
}

ul{
    list-style: none;
    width: 800px;
    column-count: 2;
}

ul li{
    width: 100%;
    background: #fff;
    height: 50px;
    line-height: 40px;
    padding: 5px 0;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #A0A0A0;
    text-align: center;
    font-weight: bold;
    transition: 0.5s linear;
    margin-bottom: 10px;
}

ul li span{
    position: relative;
    right: 5px;
    float: right;
    color: red;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 37.5rem) {
    form {
        width: 150px;
    }
    form button{
        margin: 10px 0;
    }
    ul {
        width: 150px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:37.5rem) and (max-width:50rem) {
    form {
        width: 450px;
    }
    ul {
        width: 450px;
    }
}